# Node modules
node_modules/

# Logs
logs/
*.log

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.code-workspace

# Build / temporary files
dist/
temp/
*.tmp

# Environment / secret files
.env
